.navigation {
    z-index: 2;
    position: fixed;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    top: 0;
    text-align: center;
    line-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button {
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    font-family: Roboto;
    color: white;
    opacity: 0.5;
}

.button:hover {
    color: white;
    opacity: 1;
}

.disabled {
    pointer-events: none;
    cursor: default;
    color: white;
    opacity: 1;
}