$imgHeight: 21px;
$imgWidth: $imgHeight;
$iconBorderRadius: 50%;
$iconHeight: 40px;
$iconWidth: $iconHeight;
$iconMargin: 10px;
$iconBkgnd: black;

.socialMedia {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: #333;
    width: 100%;
    bottom: 0;
    text-align: center;
    height: 60px;
}

.igIcon {
    border-radius: $iconBorderRadius;
    height: $iconHeight;
    width: $iconWidth;
    background: $iconBkgnd;
    margin: $iconMargin;
}

.inIcon {
    border-radius: $iconBorderRadius;
    height: $iconHeight;
    width: $iconWidth;
    background: $iconBkgnd;
    margin: $iconMargin;
}

.imgWrapper {
    padding-top: 9.5px;
}

.imgClass {
    height: $imgHeight;
    width: $imgWidth;
}


/* Animations */
.igIcon:hover {
    background: rgba(175, 84, 218, 0.801);
}

.inIcon:hover {
    background: rgb(75, 169, 224);
}