.contentWrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Components */

$sectionHeight: 100vh;
$sectionWidth: 100%;
$sectionPosition: relative;
$webkitboxdisplay: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
$mozboxdisplay: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
$msflexboxdisplay: -ms-flexbox; /* TWEENER - IE 10 */
$webkitflexdisplay: -webkit-flex; /* NEW - Chrome */
$sectiondisplay: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
$flexdirection: column;

.section1 {
    height: $sectionHeight;
    width: $sectionWidth;
    position: $sectionPosition;
    display: $webkitboxdisplay;
    display: $mozboxdisplay;
    display: $msflexboxdisplay;
    display: $webkitflexdisplay;
    display: $sectiondisplay;
    -ms-flex-direction: $flexdirection;
    -moz-flex-direction: $flexdirection;
    -webkit-flex-direction: $flexdirection;
    flex-direction: $flexdirection;
}

.section2 {
    height: $sectionHeight;
    width: $sectionWidth;
    position: $sectionPosition;
    background: linear-gradient(#f3f5ef, rgb(214, 214, 214));
    text-align: center;
    font-family: Roboto;
    display: $webkitboxdisplay;
    display: $mozboxdisplay;
    display: $msflexboxdisplay;
    display: $webkitflexdisplay;
    display: $sectiondisplay;
    -ms-flex-direction: $flexdirection;
    -moz-flex-direction: $flexdirection;
    -webkit-flex-direction: $flexdirection;
    flex-direction: $flexdirection;
}

.section3 {
    height: $sectionHeight;
    width: $sectionWidth;
    position: $sectionPosition;
    background: linear-gradient(rgb(214, 214, 214), rgba(2, 37, 134, 0.849));
    text-align: center;
    font-family: Roboto;
    display: $webkitboxdisplay;
    display: $mozboxdisplay;
    display: $msflexboxdisplay;
    display: $webkitflexdisplay;
    display: $sectiondisplay;
    -ms-flex-direction: $flexdirection;
    -moz-flex-direction: $flexdirection;
    -webkit-flex-direction: $flexdirection;
    flex-direction: $flexdirection;
}


$webkitboxflex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
$mozboxflex: 1; /* OLD - Firefox 19- */
$webkitflex: 1; /* Chrome */
$msflex: 1; /* IE 10 */
$sectionflex: 1; /* NEW, */

/* section-1 elements */

.firstGlance {
    background-image: url("../../images/firstglance.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 20%;
    height: $sectionHeight;
    width: $sectionWidth;
}


/* section-2 elements */

.titleDiv {
    padding: 5%;
}

.nameTitle {
    font-size: 6vh;
    font-weight: lighter;
}

.descContainer {
    width: 40%;
    margin: 0 auto;
}


/* section-3 elements */

.overview {
    display: flex;
    -webkit-box-flex: $webkitboxflex;
    -moz-box-flex: $mozboxflex;
    -webkit-flex: $webkitflex;
    -ms-flex: $msflex;
    flex: $sectionflex;
    // padding-top: 50px;
}